{% extends "base.html" %}

{% block head %}
<script src="{{ url_for('static', filename='vendor/xterm/xterm.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/xterm/xterm-addon-fit.min.js') }}"></script>
<link rel="stylesheet" type="text/css"
      href="{{ url_for('static', filename='vendor/xterm/xterm.css') }}">

<style>
    .terminal {
        height: 500px;
    }
</style>
{% endblock %}

{% block content %}

<div class="container-md">
    <button class="btn btn-primary my-2" id="startBtn">Start</button>
    <div id="output" class="terminal"></div>
</div>

<script>
    const term = new Terminal();
    const fitAddon = new FitAddon.FitAddon();
    term.loadAddon(fitAddon);

    term.open(document.getElementById("output"));

    fitAddon.fit();


    const startBtn = document.getElementById("startBtn");

    startBtn.addEventListener("click", async e => {
        const response = await fetch("/train/start", {
            method: "POST",
        });

        if (response.status != 200) {
            return alert("Training already in progress. Please wait.");
        }

        const source = new EventSource("/train/stream");
        source.addEventListener("message", messageHandler);
        source.addEventListener("error", (e) => errorHandler(e, source));
    });

    function messageHandler(e) {
        //console.log(e);
        term.writeln(e.data);
    }

    function errorHandler(e, source) {
        console.error("EVT source error: ", e);
        if (source.readyState == 0) {
            source.close();
        }
    }
</script>
{% endblock %}